.header {
    background-color: #1f2937;
}

.header-logo {
    color: #e5e7eb;
    font-size: 24px;
}

.header-links {
    color: #e5e7eb;
    font-size: 18px;
}

.Header-MainText {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.Header-Subtext {
    color: #e5e7eb;
    font-size: 18px;
}

.Header-button {
}

.Header-img {
}

.2nd-Body {
}

.2nd-MainText {
}

.2nd-img {
}

.2nd-Subtext {
}

.3rd-Body {
}

.Quote {
}

.Quoter {
}

.4th-Body {
}

.container {
}

.4th-MainText {
}

.4th-Subtext {
}

.4th-Button {
}

.footer {
}
